<div class="k_contents">
    <h3 class="message">
      投稿が完了しました。
    </h3>
    <div class="success">
        <a class="a_btn" href="/books/<%= params[:book_id] %>/reviews/">レビューを見る</a>
    </div>
</div>